<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/styles.css">
</head>

<body class="centered" style="width: 1200px;height: 600px;padding: 0px;">
    <div class="centered" style="padding: 37px;"><img style="padding: 0px;background-image: url(&quot;https://i.pinimg.com/originals/e8/88/d4/e888d4feff8fd5ff63a965471a94b874.gif&quot;);height: 539px;width: 836px;/*align-items: center;*/">
        <h1 style="align-content: center;">404</h1>
        <h1>Looks like there's nothing here.</h1><small>So have a plant :)</small></div>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>