{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>Profile.Charts</title>
    <link rel="stylesheet" href="//static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="//static/css/styles.css">
</head>

<body>
    <div class="page-header align">
        <h1>Hi {{user.username}}!</h1>
    </div>
    <div class="container" id="Panel-container" style="width: 923px;">
      <div class="panel panel-default" style="margin: 0px;margin-right: 30px;margin-left: 30px;">
          <div class="panel-heading">
              <h3 class="panel-title">{{device_name}}</h3>
          </div>
          <div class="panel-body" style="margin-right: 0px;margin-left: 0px;">
            <div class="chart-container" style="position: relative; height40vh; width;80vw">
                <canvas id="myChart"></canvas>
            </div>
          </div>
      </div>
    </div>
    <script src="//static/js/jquery.min.js"></script>
    <script src="//static/bootstrap/js/bootstrap.min.js"></script>
    <script src="//static/js/chart.min.js"></script>
    <script src="//static/js/bs-init.js"></script>
</body>

<script type="text/javascript">

  let myChart = document.getElementById('myChart').getContext('2d');

    // Global Options
    Chart.defaults.global.defaultFontFamily = 'Lato';
    Chart.defaults.global.defaultFontSize = 18;
    Chart.defaults.global.defaultFontColor = '#777';


    let massPopChart = new Chart(myChart, {

      type:'line', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
      data:{
        labels:{{date | tojson}},
        datasets:[{
          label:'Moisture',
          data:{{value | tojson}},
          //backgroundColor:'green',
          backgroundColor:[
            'rgba(255, 99, 132, 0.6)',
            'rgba(54, 162, 235, 0.6)',
            'rgba(255, 206, 86, 0.6)',
            'rgba(75, 192, 192, 0.6)',
            'rgba(153, 102, 255, 0.6)',
            'rgba(255, 159, 64, 0.6)',
            'rgba(255, 99, 132, 0.6)'
          ],
          borderWidth:1,
          borderColor:'#777',
          hoverBorderWidth:3,
          hoverBorderColor:'#000'
        }]
      },
      options:{
        title:{
          display:true,
          text:{{device_name | tojson}},
          fontSize:25
        },
        legend:{
          display:true,
          position:'right',
          labels:{
            fontColor:'#000'
          }
        },
        layout:{
          padding:{
            left:50,
            right:0,
            bottom:0,
            top:0
          }
        },
        tooltips:{
          enabled:true
        }
      }
    });

</script>

{% endblock %}
